version: 2


shared:
  lint: &lint-config
    steps:
      - checkout

      # Install dependencies
      - run: npm install

      # Run linter
      - run:
          name: Run linter
          command: npm run lint

  test: &test-config
    steps:
      - checkout

      # Install dependencies
      - run: npm install

      # Start SaltyRTC server
      - run: saltyrtc-server-launcher > /saltyrtc/server.pid && sleep 2

      # Show browser version
      - run: if which firefox >/dev/null; then firefox --version; fi
      - run: if which chrome >/dev/null; then chrome --version; fi
      - run: if which chromium >/dev/null; then chromium --version; fi

      # Run tests
      - run:
          name: Run tests
          command: npm run rollup_tests && npm test -- --browsers $BROWSER
      - run:
          name: Run type checks
          command: node_modules/.bin/tsc --noEmit

      # Stop SaltyRTC server
      - run: kill -INT $(cat /saltyrtc/server.pid)


jobs:
  lint:
    <<: *lint-config
    docker:
      - image: circleci/node:10-browsers

  test-chromium-latest:
    <<: *test-config
    docker:
      - image: saltyrtc/circleci-image-js:chromium-latest
    environment:
      - BROWSER: ChromiumHeadless

  test-firefox-stable:
    <<: *test-config
    docker:
      - image: saltyrtc/circleci-image-js:firefox-60.6.3esr
    environment:
      BROWSER: Firefox_circle_ci
      FIREFOX_BIN: xvfb-firefox

  test-firefox-esr:
    <<: *test-config
    docker:
      - image: saltyrtc/circleci-image-js:firefox-66.0.5
    environment:
      BROWSER: Firefox_circle_ci
      FIREFOX_BIN: xvfb-firefox


workflows:
  version: 2
  build:
    jobs:
      - lint
      - test-chromium-latest
      - test-firefox-stable
      - test-firefox-esr
